.serviceProvideContainer {
  background: #ffffff;
  border-radius: 30px;
  padding: 6.4rem 0;
  margin: 0 1.6rem;
  @media (max-width: 568px) {
    padding: 4.5rem 0;
  }
  .serviceProvideContent {
    .servicePara {
      h2 {
        font-size: 4.8rem;
        color: #252525;

        @media (max-width: 568px) {
          font-size: 3.8rem;
          line-height: 50px;
        }
      }
    }
    .marketContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      margin-top: 6rem;
      @media (max-width: 1024px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      .market {
        border: 1px solid #eeeeee;
        border-radius: 10px;
        padding: 2.4rem 2.4rem 0;
        text-align: center;
        position: relative;

        @media (max-width: 1024px) {
          &:nth-last-child(1) {
            margin-top: 4rem;
          }
        }
        @media (max-width: 768px) {
          &:nth-last-child(2) {
            margin-top: 4rem;
          }
        }

        .borderCircle {
          background: #ffffff;
          width: 80px;
          height: 80px;
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
          border-radius: 70px;
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
        }
        .metaImg {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
        }

        h5 {
          margin-top: 1rem;
          font-size: 3.2rem;
        }
        p {
          margin-top: 0.8rem;
          color: #777777;
          font-size: 1.6rem;
        }
        .marketImg {
          margin-top: 8px;
          img {
            width: fit-content;
          }
        }
      }
    }
  }
}
