.footer_container {
  .footer_container_one {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    border-bottom: 1px dashed #4a4a4a;
    place-items: center;
    // padding: 2em 1em 2em 1em;
    @media (max-width: 1306px) {
      gap: 40px;
    }
    @media (max-width: 1180px) {
      grid-template-columns: 1fr;
      width: 80%;
    }
    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 10px;
    }

    .footer_one {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      @media (max-width: 410px) {
        gap: 20px;
      }

      .footer_logo {
        padding-right: 30px;
        border-right: 1px solid #2c2c2c;
        p {
          font-size: 1.1rem;
          color: #8c8c8c;
        }
      }
      .footer_info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h5 {
          color: #8c8c8c;
          font-size: 1.3rem;
        }
        .mail_container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          p {
            color: #8c8c8c;
            font-size: 1.1rem;
          }
        }
        .vector_container {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          p {
            color: #8c8c8c;
            font-size: 1.1rem;
          }
        }
      }
    }
    .footer_two {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px;
      @media (max-width: 1180px) {
        width: 100%;
        justify-content: space-between;
      }
      .access_container {
        .access_info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          gap: 10px;
        }
      }
      .kit_container {
        .kit_info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 10px;
        }
      }
      .relation_container {
        .relation_info {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 10px;
        }
      }
      h4 {
        color: #8c8c8c;
        font-size: 1.3rem;
        margin-bottom: 30px;
      }
      a {
        color: #8c8c8c;
        font-size: 1.3rem;
      }
    }
    .footer_three {
      .disclaimer {
        p {
          color: #8c8c8c;
          font-size: 1.1rem;
        }
        span {
          color: #8c8c8c;
          font-size: 1.2rem;
          line-height: 13px;
        }
      }
      .terms {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        padding: 12px;
        background-color: #111111;
        border-radius: 15px;
        @media (max-width: 1180px) {
          justify-content: space-between;
        }
        h6 {
          color: #8c8c8c;
          font-size: 12px;
        }
      }
    }
  }
  .footer_container_two {
    padding: 1.5em;
    p {
      text-align: center;
      color: #8c8c8c;
      font-size: 10px;
    }
  }
  .footer_container_three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: #0e0e0e;

    p {
      color: #8c8c8c;
      font-size: 9px;
    }
    .end {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
