.footerContainer {
  .footerWrapper {
    background: linear-gradient(180deg, #000000 0%, #0a0a0a 92.19%);
    @media (max-width: 1180px) {
      padding-top: 6.2rem;
    }
    .footerContainerOne {
      width: 95%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      border-bottom: 1.5px dashed #4a4a4a;
      place-items: center;

      @media (max-width: 1306px) {
        gap: 40px;
      }
      @media (max-width: 1180px) {
        grid-template-columns: 1fr;
        width: 80%;
      }
      @media (max-width: 800px) {
        grid-template-columns: 1fr;
        width: 90%;
        padding: 10px;
      }
      @media (max-width: 425px) {
        width: 95%;
      }

      .footerOne {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        @media (max-width: 438px) {
          gap: 10px;
        }
        @media (max-width: 415px) {
          display: block;
        }

        .footerLogo {
          padding-right: 10px;
          border-right: 1px solid #2c2c2c;
          @media (max-width: 1180px) {
            margin-left: -5.5rem;
          }
          @media (max-width: 1100px) {
            margin-left: 0;
          }
          @media (max-width: 415px) {
            border: none;
          }
          p {
            font-size: 1.1rem;
            color: #8c8c8c;
            @media (max-width: 415px) {
              margin-bottom: 2rem;
            }
          }
        }
        .footerInfo {
          display: flex;
          flex-direction: column;
          gap: 10px;

          h5 {
            color: #8c8c8c;
            font-size: 1.3rem;
            margin-bottom: 1rem;
            @media (max-width: 415px) {
              margin-bottom: 0;
            }
          }
          .mailContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 11px;
            p {
              color: #8c8c8c;
              font-size: 1.1rem;
            }
          }
          .vectorContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 11px;
            p {
              color: #8c8c8c;
              font-size: 1.1rem;
            }
          }
        }
      }
      .footerTwo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        @media (max-width: 1180px) {
          width: 100%;
          justify-content: space-between;
        }

        .accessContainer {
          .accessInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
          }
        }
        .kitContainer {
          .kitInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
          }
        }
        .relationContainer {
          .relationInfo {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;
          }
        }
        h4 {
          color: #8c8c8c;
          font-size: 1.3rem;
          margin-bottom: 2.5rem;
        }
        a {
          color: #8c8c8c;
          font-size: 1.3rem;
        }
      }
      .footerThree {
        margin-top: 6rem;
        @media (max-width: 1180px) {
          margin-top: 0;
        }
        .disclaimer {
          p {
            font-size: 100;
            color: #8c8c8c;
            font-size: 1.2rem;
          }
          span {
            color: #8c8c8c;
            font-size: 1.3rem;
            line-height: 13px;
          }
        }
        .terms {
          margin: 1.6rem 0;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 80px;
          padding: 1.2rem 3rem;
          background-color: #111111;
          border-radius: 127px;
          @media (max-width: 1180px) {
            justify-content: space-between;
          }
          @media (max-width: 425px) {
            gap: 50px;
          }
          h6 {
            color: #8c8c8c;
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .footerContainerTwo {
    padding: 1.5em;
    p {
      text-align: center;
      color: #8c8c8c;
      font-size: 1.1rem;
    }
  }
  .footerContainerThree {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 1em;
    background: #0e0e0e;

    p {
      color: #8c8c8c;
      font-size: 1.1rem;
    }
  }
}
