h2 {
  font-size: 4.8rem;
  line-height: 5.3rem;
  color: var(--text-primary);
  text-align: center;
}

p {
  font-weight: lighter;
  font-size: 1.6rem;
}

.text-primary-gradient {
  background: radial-gradient(
      95.56% 2173.67% at 3.23% 25.96%,
      #c203d3 0%,
      #5f0fff 52.08%,
      #1904da 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
