@use "./typography";
@use "./attributes";

@font-face {
  font-family: "grold-bold";
  src: url("../public/fonts/Grold-Bold.ttf");
}
@font-face {
  font-family: "grold-medium";
  src: url("../public/fonts/Grold-Medium.ttf");
}
@font-face {
  font-family: "grold-regular";
  src: url("../public/fonts/Grold-Regular.ttf");
}

:root {
  --background: #000;

  --primary: #00ce53;
  --text-primary: #fff;

  --btn-primary: #00ce53;

  --font-bold: "grold-bold";
  --font-medium: "grold-medium";
  --font-regular: "grold-regular";
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-regular);
  font-size: 1.4rem;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(100% 898.01% at 0% 0%, #090d2e 0%, #331801 100%);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.app {
  height: 100vh;
  overflow-y: auto;
  background-attachment: fixed;
  background: linear-gradient(
    -45deg,
    transparent -10%,
    rgba(0, 0, 0, 0.9) 10%,
    transparent 100%
  );
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.mx {
  max-width: 1400px;
  margin: 0 auto;
}

.pad {
  padding: 0 3rem;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
  @media (max-width: 576px) {
    padding: 0 1rem;
  }
}

@for $i from 5 to 51 {
  .p-#{$i} {
    padding: $i + px;
  }
  .pt-#{$i} {
    padding-top: $i + px;
  }
  .pl-#{$i} {
    padding-left: $i + px;
  }
  .pr-#{$i} {
    padding-right: $i + px;
  }
  .pb-#{$i} {
    padding-bottom: $i + px;
  }
  .m-#{$i} {
    margin: $i + px;
  }
  .mt-#{$i} {
    margin-top: $i + px;
  }
  .ml-#{$i} {
    margin-left: $i + px;
  }
  .mr-#{$i} {
    margin-right: $i + px;
  }
  .mb-#{$i} {
    margin-bottom: $i + px;
  }
  .g-#{$i} {
    gap: $i + px;
  }
}
.trendsContent.active {
  width: 100%;
  p {
    text-align: center;
    padding: 1.6rem;
    background: rgba(0, 206, 83, 0.05);
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    border-bottom: 2px solid #00ce53;
  }
  .PastImg {
    position: relative;
    width: 100%;
    aspect-ratio: 1.4/1;
    overflow: hidden;
    &:hover {
      .dashPara {
        bottom: 0;
      }
    }
    .dashPara {
      position: absolute;
      width: 100%;
      bottom: -50%;
      padding: 0 1.6rem;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.8) 100%
      );
      transition: all 0.3s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .Dash {
        margin-bottom: 1rem;
        h2 {
          font-size: 2.4rem;
        }
        Button {
          padding: 0.8rem 3.2rem;
          border-radius: 50px;
        }
      }
    }
  }
}
.trendsContent {
  width: 100%;
  position: relative;
  p {
    cursor: pointer;
    text-align: center;
    padding: 1.6rem;
    background: #ffffff;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
  }
  .PastImg {
    position: relative;
    width: 100%;
    aspect-ratio: 1.4/1;
  }
}
.process.active {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 16px 0px;
  cursor: pointer;

  @media (max-width: 768px) {
    gap: 40px;
  }
  @media (max-width: 576px) {
    gap: 30px;
  }
  @media (max-width: 425px) {
    gap: 24px;
  }
  .borderContent {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 768px) {
      gap: 20px;
    }

    h1 {
      font-size: 6.4rem;
      color: #00ce53;
      padding-left: 3.2rem;
      border-left: 6px solid #00ce53;

      @media (max-width: 576px) {
        font-size: 6rem;
        padding-left: 2rem;
      }
      @media (max-width: 425px) {
        font-size: 4.2rem;
        padding-left: 0.8rem;
      }
    }
  }
  h5 {
    color: #00ce53;
    font-size: 2.4rem;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
    @media (max-width: 425px) {
      font-size: 1.7rem;
    }
  }
  p {
    color: #777777;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }
}

.process {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 16px 0px;
  cursor: pointer;

  @media (max-width: 768px) {
    gap: 40px;
  }
  @media (max-width: 576px) {
    gap: 30px;
  }
  @media (max-width: 425px) {
    gap: 24px;
  }
  .borderContent {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 768px) {
      gap: 20px;
    }

    h1 {
      font-size: 6.4rem;
      color: rgba(255, 255, 255, 0.1);
      padding-left: 3.2rem;
      border-left: 6px solid rgba(255, 255, 255, 0.1);

      @media (max-width: 576px) {
        font-size: 6rem;
        padding-left: 2rem;
      }
      @media (max-width: 425px) {
        font-size: 4.2rem;
        padding-left: 0.8rem;
      }
    }
  }
  h5 {
    color: #ffffff;
    font-size: 2.4rem;
    @media (max-width: 576px) {
      font-size: 2rem;
    }
    @media (max-width: 425px) {
      font-size: 1.7rem;
    }
  }
  p {
    color: #777777;
    font-size: 1.6rem;
    margin-top: 0.8rem;
    @media (max-width: 576px) {
      font-size: 1.4rem;
    }
  }
}

.upcoming {
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
