.servicesProcessContainer {
  padding: 6.4rem 0;

  .servicesContent {
    h2 {
      color: #ffffff;
      font-size: 4.8rem;
      text-align: center;
    }
    p {
      color: #ffffff;
      font-size: 1.6rem;
      margin-top: 0.8rem;
      text-align: center;
    }
  }
  .gridInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5rem;
    margin: 4.8rem 5rem 0;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    @media (max-width: 568px) {
      margin: 4.4rem 2rem 0;
    }

    .processContent {
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      padding-right: 5rem;
      overflow: hidden;
      overflow-y: scroll;
      height: 85%;
      &::-webkit-scrollbar {
        width: 0px;
      }

      @media (max-width: 1024px) {
        border: none;
        padding: 0;
      }
    }

    .ProcessContentTwo {
      .writeImg {
        @media (max-width: 1024px) {
          text-align: center;
        }
      }
      p {
        color: #777777;
      }
    }
  }
}
